$font-family: 'Nunito', sans-serif;

$main-color: #6dafee;
$txt-color: #262626;
$body-bg: #fff;
$btn-color: #0d6efd;

$index-8: 100;
$index-7: 50;
$index-6: 25;
$index-5: 15;
$index-4: 10;
$index-3: 5;
$index-2: 2;
$index-1: 1;
$index-0: -1;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$tablet-width: 1024px;
$mobile-width: 600px;
$phone-width: 480px;